# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Django
*.log
db.sqlite3

# Media files
media/

# Static files (ако имаш collectstatic)
staticfiles/

# VS Code / PyCharm
.vscode/
.idea/

# Mac
.DS_Store
